/*
COLOUR PALETTE
#F7FFF7 = atleadt white
#343434 = dark grey - almost black
#2F3061 - dark blue
#FFE660 - yellow
#A1C607 - blue light
*/


/* Global Styles
===============================*/
body {
    color: #343434;
}
img {
    width: 300px;
}
a {
    color: yellow;
}
a:hover {
    text-decoration: none;
}

/* Profile 
===============================*/
header {
    background: darkblue;
    color: #f7f7f7;
}


/* Projects 
===============================*/
.projects {
    background: #f7f7f7;
}
.projects a {
    color: #2F3061;
}
.projects .btn {
    color: #f7f7f7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}


/* Work Experience 
===============================*/
.work {
    background: #a1c6d7;
}


/* Education 
===============================*/


/* Contact Info
===============================*/
footer {
    background: #343434;
    color: #f7f7f7;
} 